/*******************************************TAG SELECTORS*******************************************/


body {
    background-color: #FFFBEB;
    margin: 0;
    text-align: center;
     
  }

h2 {
  font-size: 187.5%; /*100% = 16px 1em=16px*/
  font-family: 'Passions Conflict', cursive;
}  

h3 {
  margin-top: 0;
}

p {
  
}

hr {
    background-color: none;
    border-style: dotted none none none;
    border-color: black;
    border-width: 5px;
    height: 0px;

  }

img:hover { /*change color of images when hovering cursor over*/
  background-color: white;
}

/*******************************************DIV SELECTORS*******************************************/

.div1 {
  background-color: #F0E9D2;
  padding: 20px;
}

.div2 {
  background-color: #FFE15D;
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;

  font-family: 'Roboto', sans-serif;

}

.middle-container {
  background-color: none;
}
.profile {
  background-color: #C0EEE4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.skills {
  background-color: #FFCAC8;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Sacramento', cursive;
}
.skill-row {
  background-color: #FFCAC8;
  padding-top: 100;
  padding-bottom: 10px;
}
.contact-me {
  background-color: #FF9E9E;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-container {
  background-color: #F0DBDB;
  padding-top: 20px;
  padding-bottom: 5px;
}

/*******************************************CLASS SELECTORS*******************************************/



.sunset {
  background-color: purple;
}

.circular {
  border-radius: 100%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 25px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.table1 {
  
}

/*******************************************ID SELECTORS*******************************************/



#div2-Background-txt {
  font-family: 'Sacramento', 'Passions Conflict', 'Lucida Handwriting', cursive;
}

#est-text {
  font-family: 'Sacramento', 'Passions Conflict', 'Lucida Handwriting', cursive;
}






