/*******************************************TAG SELECTORS*******************************************/

body {
    background-color: #FFFBEB;
    margin: 0; /* removed borders */
  }

hr {
    background-color: none;
    border-style: dotted none none none;
    border-color: black;
    border-width: 5px;
    height: 0px;

  }

img:hover { /*change color of images when hovering cursor over*/
  background-color: white;
}


/*******************************************CLASS SELECTORS*******************************************/

.sunset {
  background-color: purple;
}

.circular {
  border-radius: 100%;
}


/*******************************************ID SELECTORS*******************************************/

#heading {
  color: green;
}



/*******************************************DIV SELECTORS*******************************************/

.div1 {
  background-color: #F0E9D2;
  padding: 20px;
}

.div2 {
  background-color: #FFE15D;
  padding: 20px;
}
.div3 {
  background-color: #F49D1A;
  padding: 20px;
}




