body {
    background-color: #FFDCA9;
  }

  hr {
    background-color: none;
    border-style: dotted none none none;
    border-color: white;
    border-width: 5px;
    height: 0px;
    width;
  }

